<script>
  // Imports
  import {scaleTime, scaleLinear, scaleBand} from 'd3-scale';
  import  {curveCatmullRom , area, line } from 'd3-shape';
  import  datatotal from '/static/data/hourly_heating_december.json'


  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // import data
  let data_per_City=[];
  let building_type = ["FullServiceRestaurant", "Hospital", "LargeHotel", "LargeOffice", 
  "MediumOffice", "MidriseApartment", "OutPatient", "PrimarySchool", 
  "QuickServiceRestaurant", "SecondarySchool", "SmallHotel", "SmallOffice", 
  "Stand-aloneRetail", "StripMall", "SuperMarket", "Warehouse"];

  data_per_City=datatotal.filter(function(d) {return d.city=="Baltimore"});

  //Scales


  let x_scale= scaleTime()
    .domain([new Date(2022, 11, 1,0), new  Date(2022, 11, 31,23)])
    .range([25, 550]);

  let yscale= scaleBand()
    .domain(building_type)
    .range([230, 0]);

  let ycurve=scaleLinear()
    .domain([0,3800])
    .range([7.18, -7.18]);
  

  // Area generator
  const PathLine = area() 
          .x(d => x_scale(new Date(2022, 11, d.day, d.hour)))
          .y0(d => ycurve(d.total_heating_energy))
          .y1(d=> ycurve(-d.total_heating_energy))
          .curve(curveCatmullRom);

</script>

<svg  {width} {height}>
  <g id="firstgraph"transform="translate({margin.left}, {margin.top})">
    {#each building_type as building}
    {@const dataforiter = data_per_City.filter(function(i) {return i.buildingtype==building})}
    <path d={PathLine(dataforiter)}
    transform="translate(0 {yscale(building)})"/>
    {/each}
  </g>  
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
