<script>
  //imports
  import {scaleLinear } from 'd3-scale';
  import  {curveCatmullRom , lineRadial } from 'd3-shape';
  import  dataex2 from '/static/data/daily_heating_cooling.json'
  



  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  let databalt = dataex2.filter(function(d) {return d.city=="Baltimore"})
  let datach = dataex2.filter(function(d) {return d.city=="Chicago"})
  let datala = dataex2.filter(function(d) {return d.city=="Los Angeles"})

  // scales
  let scale_x = scaleLinear()
    .domain([1,366])
    .range([0, 2*Math.PI]);

  let scale_y = scaleLinear() // for the radius
    .range([0,12]);
    


  // Graph generator

  const linese= lineRadial()
    .angle(d=>scale_x(d.day_of_year))
    .radius(d=>scale_y(d.cooling))
    .curve(curveCatmullRom)


    const linesg= lineRadial()
    .angle(d=>scale_x(d.day_of_year))
    .radius(d=>scale_y(d.heating))
    .curve(curveCatmullRom)

    const linesemark= lineRadial()
    .angle(d=>scale_x(d.day_of_year))
    .radius(60)
    .curve(curveCatmullRom)



</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!-- Scale for Baltimore -->
    {scale_y.domain([0,149400])}
    <!-- Areas  -->
    <path d={linesg(databalt)} fill="red" stroke="red" opacity=0.5 transform="translate(225, 60)"></path>
    <path d={linese(databalt)} fill="blue" stroke="blue" opacity=0.5 transform="translate(225, 60)"></path>
    <!-- Circle and line marks -->
    <path d={linesemark(databalt)} fill="none" stroke="black" opacity=0.5 transform="translate(225, 60)"></path>
    <path d="M 0 -60 V 60 " fill="none" stroke="black" opacity=0.5 transform="translate(225, 60)"></path>
    <path d="M -60 0 H 60 " fill="none" stroke="black" opacity=0.5 transform="translate(225, 60)"></path>

    <!-- Scale for Chicago -->
    {scale_y.domain([0,145153])}
    <!-- Areas  -->
    <path d={linesg(datach)} fill="red" stroke="red" opacity=0.5 transform="translate(375, 60)"></path>
    <path d={linese(datach)} fill="blue" stroke="blue" opacity=0.5 transform="translate(375, 60)"></path>
    <!-- Circle and line marks -->
    <path d={linesemark(datach)} fill="none" stroke="black" opacity=0.5 transform="translate(375, 60)"></path>
    <path d="M 150 -60 V 60 " fill="none" stroke="black" opacity=0.5 transform="translate(225, 60)"></path>
    <path d="M -60 0 H 60 " fill="none" stroke="black" opacity=0.5 transform="translate(375, 60)"></path>

    <!-- Scale for Chicago -->
    {scale_y.domain([0,28717])}
    <!-- Areas  -->
    <path d={linesg(datala)} fill="red" stroke="red" opacity=0.5 transform="translate(300, 160)"></path>
    <path d={linese(datala)} fill="blue" stroke="blue" opacity=0.5 transform="translate(300, 160)"></path>
    <!-- Circle and line marks -->
    <path d={linesemark(datala)} fill="none" stroke="black" opacity=0.5 transform="translate(300, 160)"></path>
    <path d="M 150 -60 V 60 " fill="none" stroke="black" opacity=0.5 transform="translate(150, 160)"></path>
    <path d="M -60 0 H 60 " fill="none" stroke="black" opacity=0.5 transform="translate(300, 160)"></path>

    <!-- Text and lable marks -->
    <text x="80" y="60" fill="black">Baltimore</text>
    <text x="450" y="60" fill="black">Chicago</text>
    <text x="260" y="235" fill="black">Los Angeles</text>
    
    <!-- The tick marks will be placed in a group and translated to match the circles -->
    <g> 
    <text x= "170" y= "65" fill="black">9</text>
    <text x= "221" y= "15" fill="black">0</text>
    <text x= "275" y= "65" fill="black">3</text>
    <text x= "221" y= "115" fill="black">6</text>
    </g>

    <g transform="translate(150 , 0)">
    <text x= "170" y= "65" fill="black">9</text>
    <text x= "221" y= "15" fill="black">0</text>
    <text x= "275" y= "65" fill="black">3</text>
    <text x= "221" y= "115" fill="black">6</text>
    </g>

    <g transform="translate(75 , 100)">
    <text x= "170" y= "65" fill="black">9</text>
    <text x= "221" y= "15" fill="black">0</text>
    <text x= "275" y= "65" fill="black">3</text>
    <text x= "221" y= "115" fill="black">6</text>
    </g>

    <!-- Legend -->
    <rect x="30" y="100" width="20" height="20" fill="blue" stroke="blue" opacity=0.5></rect>
    <rect x="30" y="125" width="20" height="20" fill="red" stroke="red" opacity=0.5></rect>
    <text x="52" y="115">Cooling</text>
    <text x="52" y="140">Heating</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
