<script>
  let current = "none";
</script>
<style>
  .selected_player {background-color: greenyellow;}
</style>

<!-- We will cover buttons in week 7! -->
<button class:selected_player={current =="messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class:selected_player={current =="ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:selected_player={current =="neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>
