<script>
    const myList = ['Juan Felipe Escobar', 'Biology', 'Books', 'Computers', 'Football'];
</script>
<p>My name is {myList[0]} and these are some of my favourite things: {myList[1]}, 
    {myList[2]},
    {myList[3]},
    {myList[4]}.</p>
