<script>
 function circumference(r) {
  let circum =Math.PI*r;
  circum =circum.toFixed(2)
  return [r, circum];
}

const radius_circum = circumference(3.56)
</script>
<p>The circumference of a circle with radius {radius_circum[0]}m is {radius_circum[1]}m .</p>
