<script>
    let current = 0;
    function counter_increase(){
        current += 1;
    }
    function counter_reset(){
        current=0;
    }
</script>
<button class="btn btn-primary" on:click={counter_increase}>Counter: {current}</button>
<button class="btn btn-primary" on:click={counter_reset}>Restart</button>


