<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  let current_light = setInterval(()=>{
    index -=1;
  }, 1000);
  setTimeout(() => {
    clearInterval(current_light)
  }, 8000);

</script>

<style>
  circle{
    fill-opacity: 0.3;
    fill: darkred;
  }
  circle.on_l{
    fill-opacity: 1;
    fill: darkred;
  }
  circle.gogo{
    fill: darkgreen;
  }
</style>
<svg on:mouseenter viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <circle class:on_l={index <= 0} class:gogo={index == -1} cx={points[0]}  cy=30 r= 10 />
    <circle class:on_l={index <= 1} class:gogo={index == -1} cx={points[1]}  cy=30 r= 10 />
    <circle class:on_l={index <= 2} class:gogo={index == -1} cx={points[2]}  cy=30 r= 10  />
    <circle class:on_l={index <= 3} class:gogo={index == -1} cx={points[3]}  cy=30 r= 10 />
    <circle class:on_l={index <= 4} class:gogo={index == -1} cx={points[4]}  cy=30 r= 10 />
  </g>
</svg>

