<script>
  let width=100
  let height= 100
  let height_rect = 40
  let width_rect=40
  let center = {center_x: width/2, center_y: height/2}
  let start_rec ={start_x: center.center_x - width_rect/2, 
                  start_y:center.center_y - height_rect/2}
  let center_circle ={cx:start_rec.start_x + width_rect , cy: start_rec.start_y + height_rect}
</script> 
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;}
  rect {fill:yellow;}
  circle{fill:skyblue}
</style>
<svg  {width} {height}>
<rect  x={start_rec.start_x} y= {start_rec.start_y} 
        width={width_rect} height={height_rect} />
<circle cx={center_circle.cx} cy={center_circle.cy} r="20"/>
</svg>
