<script>
  const width = 100;
  const height = 100;
  const margin = {top: width/20, right: width/20, bottom: width/20, left: width/20};
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg viewBox='-450 -450  1000 1000'>
  <g transform="translate({margin.left}, {margin.top})">
    <circle cx={innerWidth / 2} cy={innerHeight / 2} r="20" fill="teal" />
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
