<script>
  import {scaleLog} from 'd3-scale'
  const scale =scaleLog()
  .domain([1,10])
  .range([0,400]);
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  
</script>
<!-- Zoom  outside of the top left of the box so the plot looks centered -->
<svg viewBox="-200 -50 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as number}
    <!-- the values are scaled by 150 px to be visible in the window -->
      <circle cx={scale(number)} cy="0" r="10" />
    {/each}
  </g>
</svg>
