<script>
   import {scaleLog} from 'd3-scale'
   import {axisBottom} from 'd3-axis'
   import {select} from 'd3-selection'
  const scale =scaleLog()
  .domain([1,10])
  .range([0,400]);
  function axis_bottom(g){const axis_bottom= axisBottom(scale);axis_bottom(select(g))};

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
</script>

<svg viewBox="-200 -20 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as number}
      <circle cx={scale(number)} cy="0" r="10" />
    {/each}
  </g>
  <g use:axis_bottom transform="translate(0, 20 )"></g>
 <text x= 180 y= 60 style="fill:currentcolor">Logarithm</text>
</svg>
