<script>
  import {scaleLinear, scaleOrdinal} from 'd3-scale'
  import {axisBottom} from 'd3-axis'
  import {select} from 'd3-selection'
  import {schemeDark2} from "d3-scale-chromatic"
 
 // Array
 const values = [
   { x: 2, y: 1, category: "cat1" },
   { x: 4, y: 2, category: "cat3" },
   { x: 6, y: 1, category: "cat2" },
   { x: 7, y: 3, category: "cat3" },
   { x: 9, y: 1, category: "cat2" }
 ];
 
 
 // Dimensions
 const width = 800;
 const height = 400;
 const margin = { top: 20, right: 5, bottom: 5, left: 5 };
 const innerWidth = width - margin.left - margin.right;
 const innerHeight = height - margin.top - margin.bottom;
 const scale_x = scaleLinear()
 .range([0, innerWidth])
 .domain([1.5,9.5]);
 const scale_y = scaleLinear()
 .range([0,innerHeight])
 .domain([0,10]);
 const scale_color= scaleOrdinal()
 .domain([values.category])
 .range(schemeDark2)
 function axis_bottom(g){const axis_bottom= axisBottom(scale_x);axis_bottom(select(g))};
</script>

<svg viewBox="0 0 {width} {height}">
 <g transform="translate({margin.left},{margin.top})">
 {#each values as point}
    <line x1={scale_x(point.x)} y1="300" x2={scale_x(point.x)} y2={scale_y(point.y)} stroke="grey"></line>
   <circle cx={scale_x(point.x)} cy={scale_y(point.y)} r="10"
           style={"fill:"+scale_color(point.category)}/>
   <text x={scale_x(point.x)-5} y={scale_y(point.y)-10}>{point.y}</text>
 {/each}
 </g>
 <g use:axis_bottom transform="translate(5, 320 )"></g>
 <text x= 380 y= 380 style="fill:currentcolor">X values</text>
</svg>


