<script>
  import {scaleLinear, scaleBand} from 'd3-scale'
  import {axisBottom, axisLeft} from 'd3-axis'
  import {select} from 'd3-selection'
  // Dimensions
  const width = 600;
  const height = 400;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const scale_x = scaleBand()
 .range([0, innerWidth])
 .domain(data.map(d =>d.service))
 .padding(0.15);
 const scale_y = scaleLinear()
 .range([innerHeight,0])
 .domain([0,3]);
 function axis_bottom(g){const axis_bottom= axisBottom(scale_x);axis_bottom(select(g))};
 function axis_left(g){const axis_left= axisLeft(scale_y);axis_left(select(g))};
</script>
<style>
  rect {color:aqua; opacity: 0.5; fill:cadetblue}
  /* text {writing-mode: vertical-lr;} */
</style>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
  {#each data as point}
  <rect x={scale_x(point.service)} width={scale_x.bandwidth()} y ={scale_y(point.viewers)} height={innerHeight - scale_y(point.viewers)}/>
  {/each}
  <g use:axis_left transform="translate(0, 0 )"></g>
  <g use:axis_bottom transform="translate(0, 360 )"></g>
  <text x=-200 y= -30 transform="rotate(-90)">Viewers</text>
  </g>
</svg>
